# Basic Statistical Testing

Well this lecture is meant to refresh a few thing and conduct a few experiments on our provided datasets. In this lecture we are going to talk about:-

1) Hypothesis Testing

2) Statistical Significance

3) Running different tests using the scipy library


Lets talk a bit about the Scipy library. This library alone contains set of data which are derieved from numerical libraries like pandas and numpy while also consisting of fucntionalities of data visualisation libraries such as matplotlib.

Lets know talk a bit indepth about Hypothesis testing. In hypothesis testing we have 2 types of statements. One is the actual statement that proves a lot of thing , known as the alternate statement. Another statement is the hypothesis or the incomplete statement, which we are going to prove equal to first statement after experimenting. This is called the null statement.


Let see an example to implement this.

In [1]:
#Lets first import our libraries.
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
#Let import the database we are going to work with.
dataframe=pd.read_csv("assets/grades.csv")
dataframe.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

The dimension of this database are as follows.

In [3]:
print("There are {} rows and {} columns in the dataframe".format(dataframe.shape[0],dataframe.shape[1]))

There are 2315 rows and 13 columns in the dataframe

As observable there are 13 columns here. On being the name column or student id column. The other are grades and submission dates for 6 different assignments.


The question that you need to answer here is to find people who have submitted assigment 1 early and who have not.

Criteria: 2016 before: On time or else late

In [4]:
#Lets convert submission data of submission1 to datatime format
newDataBase=dataframe.set_index("student_id")

In [5]:
newDataBase["assignment1_submission"]=pd.to_datetime(newDataBase["assignment1_submission"])

In [6]:
newDataBase

,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
student_id,,,,,,,,,,,,
B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
...,...,...,...,...,...,...,...,...,...,...,...,...
DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,77.684611,2016-03-07 02:52:24.378,69.916150,2016-03-11 22:02:39.161000000,69.916150,2016-03-17 07:30:09.261000000,69.916150,2016-03-18 18:01:24.525000000,55.932920,2016-03-20 06:38:12.120000000,50.339628,2016-03-25 11:00:06.923000000
DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,75.367870,2015-11-29 02:43:27.932,59.934296,2015-12-03 05:30:39.218000000,48.687437,2015-12-09 15:56:44.895000000,43.008693,2015-12-13 06:18:01.342000000,38.707824,2015-12-20 02:39:39.248000000,38.707824,2015-12-22 13:34:42.931000000
EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,73.269463,2015-10-20 08:09:27.418,58.255570,2015-11-18 19:07:06.930000000,58.955570,2015-12-10 08:54:54.871000000,52.250013,2015-11-23 19:40:00.434000000,41.800010,2015-11-29 14:23:43.659000000,41.800010,2015-12-04 09:56:07.156000000
1F51E050-78F7-F270-1B90-ED1BC0376763,87.268366,2016-04-03 09:04:51.646,87.268366,2016-04-08 19:24:29.095000000,87.268366,2016-04-12 05:43:33.853000000,69.814693,2016-04-14 10:43:58.104000000,55.851754,2016-04-19 05:37:19.322000000,55.851754,2016-04-23 03:44:06.813000000
DDE0526B-7DA4-80E8-C2A6-D097F3826029,80.318105,2015-10-04 09:46:03.403,79.818105,2015-10-06 10:28:30.820000000,64.594484,2015-10-13 17:06:29.179000000,50.955587,2015-10-06 16:18:35.513000000,40.764470,2015-10-23 17:03:26.939000000,40.764470,2015-10-26 15:56:55.460000000

In [7]:
#Lets now run our condition
earlySubmit=newDataBase["assignment1_submission"]<"2016/01/01"

In [8]:
earlySubmit.head()

student_id
B73F2C11-70F0-E37D-8B10-1D20AFED50B1     True
98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1     True
D0F62040-CEB0-904C-F563-2F8620916C4E    False
FFDF2B2C-F514-EF7F-6538-A6A53518E9DC    False
5ECBEEB6-F1CE-80AE-3164-E45E99473FB4     True
Name: assignment1_submission, dtype: bool

In [9]:
earlySubmitdat=newDataBase[earlySubmit]
earlySubmitdat.head(10)

,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
student_id,,,,,,,,,,,,
B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000
B017B4A6-1F41-9D46-A040-21B0D270D4BE,76.670469,2015-10-05 02:11:05.947,68.573422,2015-10-11 23:08:01.288000000,69.273422,2015-10-14 06:03:04.482000000,54.698738,2015-10-19 00:34:45.875000000,49.228864,2015-10-24 11:25:20.846000000,49.228864,2015-10-26 15:56:55.374000000
24827B50-2FC2-E4B0-E2A0-1989E17749B3,14.959603,2015-11-17 01:16:07.800,14.459603,2015-11-22 15:00:14.342000000,12.307682,2015-11-28 13:12:23.939000000,9.126146,2015-11-29 17:06:51.153000000,8.213531,2015-12-06 21:21:09.208000000,7.392178,2015-12-10 01:16:09.387000000
D6EFCCCA-82CA-C4BE-1C3E-D0477DE28B24,53.555227,2015-09-17 13:06:39.955,53.055227,2015-09-20 09:57:00.973000000,48.469704,2015-09-21 13:17:53.140000000,47.569704,2015-09-22 10:12:42.156000000,42.812734,2015-09-27 10:58:56.037000000,42.812734,2015-09-30 18:24:47.681000000
C040D322-E970-4E8F-22A6-2FFAF2D74061,36.383575,2015-11-12 14:05:47.682,32.315217,2015-11-29 12:17:05.380000000,33.015217,2015-12-24 08:32:51.206000000,25.692174,2015-12-15 12:46:09.484000000,20.553739,2015-12-27 06:11:42.755000000,16.442991,2016-01-04 07:07:44.849000000
A1331E62-50B5-94FC-E0CE-3092CB3D30D9,88.901114,2015-09-16 22:33:02.686,70.760891,2015-09-23 23:30:17.970000000,64.404802,2015-09-30 03:54:05.524000000,50.803842,2015-10-02 00:38:00.096000000,50.803842,2015-10-08 18:57:57.501000000,45.723457,2015-10-10 20:42:09.120000000

Above are the students who have submitted on time.

Lets find late submissions.

In [10]:
latesubmit=newDataBase["assignment1_submission"]>"2015/12/31"

In [11]:
latesubmit

student_id
B73F2C11-70F0-E37D-8B10-1D20AFED50B1    False
98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1    False
D0F62040-CEB0-904C-F563-2F8620916C4E     True
FFDF2B2C-F514-EF7F-6538-A6A53518E9DC     True
5ECBEEB6-F1CE-80AE-3164-E45E99473FB4    False
                                        ...
DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2     True
DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2    False
EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31    False
1F51E050-78F7-F270-1B90-ED1BC0376763     True
DDE0526B-7DA4-80E8-C2A6-D097F3826029    False
Name: assignment1_submission, Length: 2315, dtype: bool

In [12]:
latesubmitDat=newDataBase[latesubmit]

In [13]:
latesubmitDat

,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
student_id,,,,,,,,,,,,
D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000
...,...,...,...,...,...,...,...,...,...,...,...,...
DDE0526B-7DA4-80E8-C2A6-D097F3826029,97.215052,2016-01-23 09:19:40.494,77.772041,2016-01-26 08:38:13.085000000,69.994837,2016-01-29 15:04:34.705000000,62.995353,2016-02-06 12:51:00.647000000,50.396283,2016-02-11 15:44:08.113000000,50.396283,2016-02-14 09:03:33.466000000
DDE0526B-7DA4-80E8-C2A6-D097F3826029,47.696703,2016-06-22 20:21:58.182,38.157363,2016-06-23 18:22:45.622000000,38.157363,2016-07-02 22:18:59.529000000,30.525890,2016-06-28 22:05:38.100000000,30.525890,2016-07-09 20:08:14.734000000,30.525890,2016-07-17 15:17:58.502000000
1F51E050-78F7-F270-1B90-ED1BC0376763,94.595758,2016-01-20 23:22:16.592,85.136182,2016-01-27 22:30:29.914000000,76.622564,2016-01-31 15:39:45.088000000,68.960307,2016-02-06 21:43:05.836000000,62.064277,2016-02-14 18:52:48.594000000,49.651421,2016-02-19 20:36:16.121000000
DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,77.684611,2016-03-07 02:52:24.378,69.916150,2016-03-11 22:02:39.161000000,69.916150,2016-03-17 07:30:09.261000000,69.916150,2016-03-18 18:01:24.525000000,55.932920,2016-03-20 06:38:12.120000000,50.339628,2016-03-25 11:00:06.923000000
1F51E050-78F7-F270-1B90-ED1BC0376763,87.268366,2016-04-03 09:04:51.646,87.268366,2016-04-08 19:24:29.095000000,87.268366,2016-04-12 05:43:33.853000000,69.814693,2016-04-14 10:43:58.104000000,55.851754,2016-04-19 05:37:19.322000000,55.851754,2016-04-23 03:44:06.813000000

Above we have those who have submitted late.

In [14]:
#lets just print the mean of grades obtained in early submitters and late submitters.
mean1=np.mean(earlySubmitdat["assignment1_grade"])
mean2=np.mean(latesubmitDat["assignment1_grade"])
print(mean1)
print(mean2)

74.94728457024303
74.01742892115759

Its observable that the mean of marks of two catagories are very near to one another.


So we have found the means, we have found the databases of late and early submitters. Lets now start something we actually are here to do in this section. Lets perform __Hypothesis Testing__. Lets run t-test on dataset we have just created.

The first step of hypothesis testing is forming an hypothesis. Lets examine the current data we are working on. We here are comparing how different the sets of assigment1_grades are for 2 subDataFrames we formed. Our null hypothesis is that the population involved in either case is are not different, while alternate hypothesis is that they are different. Lets move on ahead with these hypothesis.

What is t-test? 

Well it refers to tests run to compare means of two datagroups.

The general syntax of usage is,

__sp.ttest_ind(arg1,agr2)__

arg1 and arg2 are the two datasets whose means are to be compared. After the comparison tasks are carried out we get a tuple that has 2 values.

1) __t-statistics__: This element tells us the differnce of the two means of the two databases. The higher it is, the more different and independent the mean of arg1 and arg2 are.

2) __p-value__: p-value simply measures probablity of obtaining such a difference(t-statictic) if null hypothesis were true. The higher is the value the more different the means are and vice versa.

Note that there is a concept of threshold value here. We generally assume the threshold value to be 0.05 or 0.01(1 % or 5%). If the p value obtained is less than this, then we drop the null statement and declare it false or else, we adopt the null statement and declare it true.

Now once we obtain the p-value, we compare it with the threshold value. If p-value>threshold value, we see that null hypothesis get proven true. Else the alternative hypothesis rules.

Hope you understood. Lets now see this in action.

In [15]:
from scipy.stats import ttest_ind
ttestRun=ttest_ind(earlySubmitdat["assignment1_grade"],latesubmitDat["assignment1_grade"])
print("The t-statistics is {} and the p-value is {}".format(ttestRun[0],ttestRun[1]))

The t-statistics is 1.3640706592832643 and the p-value is 0.17267787165980725

Since the p value is greater than 0.05 threshold, we see that the null statement is adopted.

In [16]:
#Lets check the same for all assignments
ttestRun=ttest_ind(earlySubmitdat["assignment2_grade"],latesubmitDat["assignment2_grade"])
print("The t-statistics is {} and the p-value is {}".format(ttestRun[0],ttestRun[1]))

ttestRun=ttest_ind(earlySubmitdat["assignment3_grade"],latesubmitDat["assignment3_grade"])
print("The t-statistics is {} and the p-value is {}".format(ttestRun[0],ttestRun[1]))

ttestRun=ttest_ind(earlySubmitdat["assignment4_grade"],latesubmitDat["assignment4_grade"])
print("The t-statistics is {} and the p-value is {}".format(ttestRun[0],ttestRun[1]))

ttestRun=ttest_ind(earlySubmitdat["assignment5_grade"],latesubmitDat["assignment5_grade"])
print("The t-statistics is {} and the p-value is {}".format(ttestRun[0],ttestRun[1]))

ttestRun=ttest_ind(earlySubmitdat["assignment6_grade"],latesubmitDat["assignment6_grade"])
print("The t-statistics is {} and the p-value is {}".format(ttestRun[0],ttestRun[1]))

The t-statistics is 1.2902603992437085 and the p-value is 0.19708906533079906
The t-statistics is 1.6655020544575643 and the p-value is 0.09594787831719975
The t-statistics is 0.11075663152438588 and the p-value is 0.9118189333527397
The t-statistics is 0.008816825148602532 and the p-value is 0.9929660418400661
The t-statistics is -0.058299031950652176 and the p-value is 0.9535154679819262

Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with respect to grade. Let's take a look at those p-values for a moment though, because they are saying things that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been considered statistically significant. As a research, this would suggest to me that there is something here worth considering following up on. For instance, if we had a small number of participants (we don't) or if there was something unique about this assignment as it relates to our experiment (whatever it was) then there may be followup experiments we could run.


P-values have come under fire recently for being insuficient for telling us enough about the interactions which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used more regularly. One issue with p-values is that as you run more tests you are likely to get a value which is statistically significant just by chance.

In [17]:
#Let now move toward another example. First lets generate dataframe via a new technique.
dataframe1=pd.DataFrame([np.random.random(100) for x in range(100)])
#The command generate a dataframe of 100rows and 100columns, with each value stored in them is between 0 and 1
dataframe2=pd.DataFrame([np.random.random(100) for x in range(100)])

Lets calculate difference of mean of each and every column of the two dataframes. We have our null hypothesis as there is difference between the corresponding columns and alternate hypothesis that there is differnce between the two corresponding columns.

In [18]:
#lets first generate the two dataframes.
dataframe1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.521223,0.657398,0.639482,0.599501,0.066340,0.056666,0.825681,0.048240,0.762359,0.966410,...,0.794115,0.348423,0.826771,0.004329,0.604995,0.397582,0.287199,0.223649,0.399585,0.196023
1,0.995462,0.449081,0.733382,0.928518,0.296946,0.131851,0.207681,0.067832,0.365724,0.569637,...,0.302147,0.125369,0.100875,0.804562,0.189997,0.563119,0.167061,0.184510,0.005652,0.383343
2,0.800555,0.398173,0.171625,0.769591,0.715180,0.082901,0.549128,0.536467,0.540157,0.850721,...,0.355896,0.750914,0.262803,0.150178,0.921270,0.954297,0.812282,0.196691,0.831565,0.928884
3,0.784361,0.793099,0.308141,0.553622,0.900822,0.588475,0.120959,0.805259,0.315967,0.828712,...,0.241387,0.054649,0.172344,0.807789,0.438861,0.283216,0.536197,0.980306,0.676911,0.488186
4,0.967881,0.121099,0.444079,0.957961,0.530313,0.859245,0.120773,0.700845,0.330709,0.220390,...,0.829099,0.337031,0.492099,0.274232,0.707750,0.431573,0.616878,0.170529,0.262648,0.775861

In [19]:
dataframe2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.525890,0.488212,0.685971,0.006464,0.292004,0.293370,0.187494,0.722364,0.844840,0.169262,...,0.163141,0.118804,0.708008,0.944231,0.786933,0.133726,0.585996,0.987426,0.329064,0.008917
1,0.098915,0.437631,0.248171,0.855759,0.773765,0.073765,0.853198,0.546028,0.498534,0.876289,...,0.423546,0.947744,0.617884,0.731083,0.963874,0.929384,0.278810,0.406561,0.713391,0.905110
2,0.164540,0.714923,0.564452,0.108117,0.825005,0.101648,0.061053,0.783997,0.626042,0.053957,...,0.650955,0.676395,0.507381,0.783037,0.139446,0.321343,0.492830,0.533617,0.090942,0.530185
3,0.714273,0.102197,0.652328,0.767647,0.595334,0.918868,0.117712,0.030951,0.717471,0.428265,...,0.389111,0.536378,0.442997,0.459412,0.063943,0.589285,0.859127,0.753827,0.960681,0.463635
4,0.909063,0.011096,0.252481,0.768631,0.022361,0.387992,0.649426,0.062383,0.026796,0.455639,...,0.816105,0.590655,0.140288,0.971252,0.129035,0.689577,0.934806,0.018677,0.799617,0.694618

In [20]:
#Let declare a function to do our work
def ttester(alpha,significantCols):
    #Alpha declaration is being conducted in order to specify, the point above which we consider a given data significant.
    for cols in dataframe1.columns:
        #Since columns of both the elements are the same, we iterate through the columns of one of them.
        tval,pval=ttest_ind(dataframe1[cols],dataframe2[cols])
        if pval>alpha:
            print("The column {} is considered proving null hypthesis with p-value {}".format(cols+1,pval))
            significantCols=significantCols+1
    print("There are {} null hypothetically true cols making their percentage to be {}".format(significantCols,(significantCols/len(dataframe1.columns))*100))
#Lets call the function above.
ttester(0.1,0)

The column 1 is considered proving null hypthesis with p-value 0.9603822484194101
The column 2 is considered proving null hypthesis with p-value 0.20324166914096287
The column 3 is considered proving null hypthesis with p-value 0.9787261892268827
The column 4 is considered proving null hypthesis with p-value 0.4164637338948697
The column 5 is considered proving null hypthesis with p-value 0.4627754829264834
The column 6 is considered proving null hypthesis with p-value 0.4058731285520337
The column 7 is considered proving null hypthesis with p-value 0.10796288822270396
The column 8 is considered proving null hypthesis with p-value 0.7245825727554142
The column 9 is considered proving null hypthesis with p-value 0.7304808968319169
The column 10 is considered proving null hypthesis with p-value 0.2232202874903681
The column 11 is considered proving null hypthesis with p-value 0.9986832954305702
The column 12 is considered proving null hypthesis with p-value 0.5001059653142369
The column 14 is considered proving null hypthesis with p-value 0.2551618350424275
The column 16 is considered proving null hypthesis with p-value 0.10840525085749828
The column 17 is considered proving null hypthesis with p-value 0.9364131171998191
The column 18 is considered proving null hypthesis with p-value 0.8306880278118205
The column 19 is considered proving null hypthesis with p-value 0.8662073460235774
The column 20 is considered proving null hypthesis with p-value 0.3654373424417354
The column 21 is considered proving null hypthesis with p-value 0.33584968878144694
The column 23 is considered proving null hypthesis with p-value 0.38999926951410224
The column 24 is considered proving null hypthesis with p-value 0.7873791559057448
The column 27 is considered proving null hypthesis with p-value 0.729111178597379
The column 28 is considered proving null hypthesis with p-value 0.4496928960872616
The column 29 is considered proving null hypthesis with p-value 0.6424318632737271
The column 30 is considered proving null hypthesis with p-value 0.7384921017022632
The column 31 is considered proving null hypthesis with p-value 0.25367192010972545
The column 32 is considered proving null hypthesis with p-value 0.6891779994925908
The column 33 is considered proving null hypthesis with p-value 0.5281042588806386
The column 34 is considered proving null hypthesis with p-value 0.5143797294921478
The column 35 is considered proving null hypthesis with p-value 0.45471927439662063
The column 36 is considered proving null hypthesis with p-value 0.6993990880940775
The column 37 is considered proving null hypthesis with p-value 0.7047063719520258
The column 38 is considered proving null hypthesis with p-value 0.5996218679163945
The column 39 is considered proving null hypthesis with p-value 0.7514486667619271
The column 40 is considered proving null hypthesis with p-value 0.5927243513606603
The column 41 is considered proving null hypthesis with p-value 0.9827601458955958
The column 42 is considered proving null hypthesis with p-value 0.6197210433936279
The column 43 is considered proving null hypthesis with p-value 0.4074967400803663
The column 44 is considered proving null hypthesis with p-value 0.26328379944392666
The column 45 is considered proving null hypthesis with p-value 0.43842901641181886
The column 47 is considered proving null hypthesis with p-value 0.7753443701817944
The column 48 is considered proving null hypthesis with p-value 0.8662231699146888
The column 49 is considered proving null hypthesis with p-value 0.6652853158843304
The column 50 is considered proving null hypthesis with p-value 0.9555166521792126
The column 51 is considered proving null hypthesis with p-value 0.3118835939836103
The column 53 is considered proving null hypthesis with p-value 0.8455132318353148
The column 54 is considered proving null hypthesis with p-value 0.7571135965427221
The column 55 is considered proving null hypthesis with p-value 0.14824857991416412
The column 56 is considered proving null hypthesis with p-value 0.25407073407140834
The column 58 is considered proving null hypthesis with p-value 0.21321564012123292
The column 59 is considered proving null hypthesis with p-value 0.10454734097182307
The column 60 is considered proving null hypthesis with p-value 0.23508024447756398
The column 61 is considered proving null hypthesis with p-value 0.7886842758903075
The column 62 is considered proving null hypthesis with p-value 0.47225571688107026
The column 63 is considered proving null hypthesis with p-value 0.8740206013856585
The column 64 is considered proving null hypthesis with p-value 0.5926932361349824
The column 65 is considered proving null hypthesis with p-value 0.953645297819546
The column 66 is considered proving null hypthesis with p-value 0.5829263646337717
The column 67 is considered proving null hypthesis with p-value 0.7591005747875512
The column 68 is considered proving null hypthesis with p-value 0.32748822576546854
The column 69 is considered proving null hypthesis with p-value 0.28222179076306386
The column 70 is considered proving null hypthesis with p-value 0.9354195392819012
The column 72 is considered proving null hypthesis with p-value 0.182084520212985
The column 73 is considered proving null hypthesis with p-value 0.5012667894783427
The column 74 is considered proving null hypthesis with p-value 0.6734303624706963
The column 75 is considered proving null hypthesis with p-value 0.7325988382186188
The column 76 is considered proving null hypthesis with p-value 0.5010406705680513
The column 77 is considered proving null hypthesis with p-value 0.6537027854598515
The column 78 is considered proving null hypthesis with p-value 0.3866653175743813
The column 79 is considered proving null hypthesis with p-value 0.9630979224622189
The column 80 is considered proving null hypthesis with p-value 0.7636417983229905
The column 82 is considered proving null hypthesis with p-value 0.4891250129844652
The column 83 is considered proving null hypthesis with p-value 0.9569089929191605
The column 84 is considered proving null hypthesis with p-value 0.6118232089819754
The column 85 is considered proving null hypthesis with p-value 0.4176587128705146
The column 87 is considered proving null hypthesis with p-value 0.34844216631263825
The column 88 is considered proving null hypthesis with p-value 0.23596193257054018
The column 89 is considered proving null hypthesis with p-value 0.7385303289095473
The column 90 is considered proving null hypthesis with p-value 0.22445209817692638
The column 91 is considered proving null hypthesis with p-value 0.6487990033046926
The column 92 is considered proving null hypthesis with p-value 0.833904198602705
The column 93 is considered proving null hypthesis with p-value 0.3113025450534488
The column 94 is considered proving null hypthesis with p-value 0.46180488140323694
The column 95 is considered proving null hypthesis with p-value 0.9718133802447125
The column 96 is considered proving null hypthesis with p-value 0.13893736513668653
The column 97 is considered proving null hypthesis with p-value 0.3325137055820737
The column 98 is considered proving null hypthesis with p-value 0.5526068510647594
The column 99 is considered proving null hypthesis with p-value 0.6683407739761459
The column 100 is considered proving null hypthesis with p-value 0.4683712881899176
There are 89 null hypothetically true cols making their percentage to be 89.0

Since there are 94 percent columns showing no difference only 6 percent of columns are different to one another. Hence only 6% columns are statistically significant.

So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain experts to better understand what they would consider significant.

In [21]:
#Let use another way to create a dataframe.
dataframe2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])

The above code creates a Pandas DataFrame containing 100 rows and 100 columns of random numbers generated from a chi-square distribution with one degree of freedom (df=1). The np.random.chisquare() function generates an array of random numbers from a chi-square distribution, and this is repeated 100 times using a list comprehension. The resulting list of arrays is then passed to the Pandas DataFrame constructor to create a 100x100 DataFrame. Each column represents a different random sample from the chi-square distribution.

In [22]:
dataframe2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.001014,0.162205,0.016200,0.005473,1.358107,4.222166,0.190613,0.573894,0.167153,3.692155,...,0.278284,0.361306,1.190390,2.395884,0.679386,0.842688,0.030125,0.000094,1.600268,0.215779
1,1.107177,1.605922,0.615129,0.034871,0.003136,0.139435,2.220133,0.151593,1.898120,0.180643,...,1.254579,1.099904,0.663840,3.343763,0.019185,0.177762,0.041868,0.450834,0.951685,0.034800
2,0.567526,1.131922,0.056313,2.905197,0.406367,0.148010,0.480783,0.037827,1.541393,0.471939,...,0.016847,0.284996,1.172200,3.317301,1.213047,0.663998,0.003561,0.833584,0.370034,0.009821
3,1.965622,0.687964,0.732962,0.184514,0.091756,1.210818,0.145816,0.063145,0.017723,0.021887,...,0.967645,0.033153,0.581719,0.249231,0.031580,1.117788,0.097906,0.042085,0.035123,0.301741
4,1.534792,0.649034,1.604175,3.101323,0.142637,0.038032,0.021597,0.843405,0.334590,1.606389,...,0.256272,2.221510,1.165348,0.045305,1.349382,0.240540,1.644199,2.153743,0.191972,1.394896

In [23]:
#Lets see the p-values here.
ttester(0.05,0)

The column 71 is considered proving null hypthesis with p-value 0.08904847869214254
There are 1 null hypothetically true cols making their percentage to be 1.0

As observable 99% of columns are different from one another.

Well that a warp, see you next time.